@model Agile.Models.SubscribeUserViewModel

<div id="UsersListModal" class="modal" href="#UsersListModal">
    <div class="modal-content">
        <ul class="collection">
            @foreach (var user in Model.AvailableUsers)
            {
                <li class="collection-item">@Html.ActionLink(user.UserName, "SubscribeUser", "Home", new { userId = user.Id, storyId = Model.StoryToSubscribe.StoryID }, null)</li>
            }
        </ul>
    </div>
</div>