@model Agile.Biz.Models.User

@{
    ViewBag.Title = "ViewUser";
}

<h2>@Model.UserName</h2>

<ul>
    <li>@Model.UserName</li>
    <li>@Model.TotalHours</li>
    <li>@Model.HoursRemaining</li>
</ul>



