@model List<Agile.Biz.Models.Story>

@{
    ViewBag.Title = "ViewStories";
}

<h2>ViewStories</h2>

<ul class="collection with-header">
    <li class="collection-header"><h4>Stories</h4></li>
    @foreach (var story in Model)
    {
        <li class="collection-item">@story.Title
        @Html.ActionLink("Details", "StoryDetails", "Stories", new { storyId = story.StoryID }, null ) 
        @Html.ActionLink("Edit", "EditStory", "Stories", new { storyId = story.StoryID }, null)
        @Html.ActionLink("Remove", "RemoveStory", "Stories", new { storyId = story.StoryID }, null)
        </li>
    }
    
</ul>